<h2>User info</h2>
<% if @user.errors.any? %>
  can't be blank error
<% end %>
<%= form_with model: @user, local:true do |f| %>
<div>
  <p>name</p>
  <p><%= f.text_field :name %></p>
</div>
<div>
  <p>image</p>
  <p><%= f.attachment_field :image %></p>
</div>
<div>
  <p>introduction</p>
  <p><%= f.text_area :introduction %></p>
</div>
<%= f.submit 'Update User', class:'btn btn-secondary' %>
<% end %>